<!-- Footer -->
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col s6 m3 center">
        <img class="materialize-logo" style="max-height: 70px" src="../../assets/images/jc_logo_nb.png" alt="">
        <p>Made with love by <b>JC</b>.</p>
      </div>
      <div class="col s6 m3">
        <h5>About me</h5>
        <ul>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/resume">Resume</a></li>
          <li><a target="_blank" href="http://code.doncharlie.xyz/">My Code Website</a></li>
        </ul>
      </div>
      <div class="col s6 m3">
        <h5>Connect</h5>
        <ul>
          <li><a target="_blank" href="https://github.com/don-charlie-pc">Github</a></li>
          <li><a target="_blank" href="https://pypi.org/user/don_charlie/">PyPI</a></li>
        </ul>
      </div>
      <div class="col s6 m3 offset-s6">
        <h5>Contact</h5>
        <ul>
          <li><a target="_blank" href="https://www.linkedin.com/in/juan-carlos-pc">Linkedin</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>