<!-- Navbar -->
<nav class="navbar dark absolute">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo"><i class="icon-coffee"></i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <!--li class="active"><a class="dropdown-button" href="#!" data-activates="pages" data-constrainWidth="false" data-belowOrigin="true">Pages<i class="material-icons right">arrow_drop_down</i></a></li-->
      <li><a href="/home">Home</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/resume">My resume</a></li>
    </ul>

    <!--ul id="pages" class="dropdown-content">
      <li><a class="active" href="/">Home</a></li>
      <li><a href="sierra.html">Zoom Out</a></li>
      <li><a href="circle-reveal.html">Circle Reveal</a></li>
      <li><a href="phone-wall.html">Phone Wall</a></li>
      <li><a href="element-transitions.html">Element Transitions</a></li>
      <li><a href="basic-elements.html">Basic Elements</a></li>
      <li><a href="card-shuffle.html">Shuffle</a></li>
      <li><a href="postcards.html">Postcards</a></li>
    </ul-->

    <a href="#" data-activates="slide-out" class="button-collapse right"><i class="material-icons white-text">menu</i></a>
  </div>
</nav>

<ul id="slide-out" class="side-nav">
  <li><a class="waves-effect waves-teal" href="/home">Home</a></li>
  <li><a class="waves-effect waves-teal" href="/blog">Blog</a></li>
  <li><a class="waves-effect waves-teal" href="/resume">My resume</a></li>
</ul>
