<div class="title-transition section white valign-wrapper">
    <div class="row valign">
        <div class="col s8 offset-s2 m6 offset-m3 blog-title fade-transition">
        <h1>Deploying Angular app to Heroku</h1>
        <span class="date">November 23, 2019</span>
        <hr>
        <a class="waves-effect waves-light btn" href="/blog-subir-website-heroku"><i class="material-icons left">library_books</i>Ver en Español</a>
        </div>
    </div>
</div>

<div class="section white full-height">
    <div class="row valign">
        <div class="col s10 offset-s1 m10 offset-m1 l8 offset-l2 blog-body">
            <p>
                Howdy! Here are the steps to create a project in Heroku, deploy your Angular application and have
                it on the internet for free. This tutorial requires you to have a previously created Angular application.
                You can see (<a href="/blog-starting-with-angular" target="_">Starting with Angular</a>) to see how to
                create a project with Angular.
            </p>
            <div class="divider"></div>
            <h4>Creating a project in Heroku</h4>
            <p>
                First of all, you need to create an account on Heroku (it’s free). Go to the
                <a href="https://signup.heroku.com/" target="_">Heroku Signup</a>
                website and create a free account. After you create your account, login and you will see something like this:
            </p>
            <img class="materialboxed" src="../../../assets/images/blog/b003/heroku_login.png" alt="">
            <p>
                Click on the “Create new app” button to setup your new project. Choose a name for the app (I am setting
                “don-programmer-code” as name, and choosing “United States” as region):
            </p>
            <img class="materialboxed" src="../../../assets/images/blog/b003/heroku_new_app.png" alt="">
            <p>
                Click on “Create app”, and it will show our app dashboard:
            </p>
            <img class="materialboxed" src="../../../assets/images/blog/b003/heroku_dashboard_new.png" alt="">
            <div class="divider"></div>
            <h4>Setup requirements</h4>
            <p>
              Now, let’s use “Heroku Git” as deployment method (it is enabled by default). You can follow the steps
              indicated there to deploy your app. Basically, we need to install Git, the Heroku CLI, and link our
              Angular app to the project we just created.
            </p>
            <h4>Installing Git</h4>
            <p>
              Git is a version control system that we are going to use later to upload our website to the internet.
              This installation is going to be used on this tutorial (URL to uploading website to Heroku). You can
              download the Git installer from 
              <a href="https://git-scm.com/download/" target="_">this link</a>.<br> Once downloaded, run the installer
              and follow the installation by selecting the defaults (just click next on the installer).
            </p>
            <h4>Installing Heroku CLI</h4>
            <p>
              To download the Heroku CLI according to your system, download Heroku CLI from the following page
              <a href="https://devcenter.heroku.com/articles/heroku-command-line" target="_">Heroku CLI</a>.
              Select your OS and download and run the installer. 
              <br>
              You can verify the installation by running the following on the terminal:
            </p>
            <pre>{{cmd_heroku_version}}</pre>
            <p>
              Now that we have git and the Heroku CLI installed, let’s login into Heroku by running a “heroku login”
              on the terminal:
            </p>
            <pre>{{cmd_heroku_login}}</pre>
            <p>
              Follow the steps on the terminal. You need to press a key to open your web browser to login. Then, once the
              login on the web browser is successful, the CLI login will be completed automatically.
            </p>
            <img class="materialboxed" src="../../../assets/images/blog/b003/heroku_web_login.png" alt="">
            <p>
              Let's move on.
            </p>
            <div class="divider"></div>
            <h4>Adding our Angular app to Heroku</h4>
            <p>
              Go back to the web Heroku dashboard, open your app, and click on the “Deploy” tab.
            </p>
            <p>
              If you already have an existing Git repository, go to the end of the page, and look for the
              “Existing Git repository” command. You should see something like:              
            </p>
            <img class="materialboxed" src="../../../assets/images/blog/b003/git_existing.png" alt="">
            <p>
              If you don’t have a Git repository, don’t worry! Heroku can host your repository. In the same
              “Deploy” tab, look for the “Create a new Git repository” commands:
            </p>
            <img class="materialboxed" src="../../../assets/images/blog/b003/git_new.png" alt="">
            <p>
              Now, open your terminal, cd into your Angular app directory (in my case, the directory is “first-app”),
              and setup your git repository by running the corresponding commands. In my case, I am hosting my app in
              Heroku, so I will execute the steps listed to create a new git repo:
            </p>
            <pre>{{cmd_heroku_git_setup}}</pre>
            <p>
              Great! Now we have our repository linked to our Heroku app.
            </p>

            <div class="divider"></div>

            <h4>Preparing our Angular app for upload</h4>
            <p>
              Now that we have our git repo, we can upload our app to Heroku, but it requires a couple of changes to be able to run. If we upload it as is, it will fail to run.
              First, let’s add a new file called server.js at the root directory of our Angular project:
            </p>
            <img class="materialboxed" src="../../../assets/images/blog/b003/file_server_add.png" alt="">
            <p>
              Add the following code to the file. Replace the two <b>first-app</b> occurrences on the file with the
              corresponding name of your project:
            </p>
            <pre>{{server_js_file}}</pre>
            <p>
              Now, open your package.json file (is at the root directory of your project), and do the following changes:
            </p>
            <p>
              <b>1) </b>Inside "scripts" section, update the "start" value from “ng serve” to "node server.js":                
            </p>
            <pre>{{package_json_1}}</pre>
            <p>
              <b>2) </b>Inside "scripts" section, add a comma at the end of the “e2e” line, and add a "postinstall"
              step with the following:<br>
              "postinstall": "ng build --aot --prod"              
            </p>
            <pre>{{package_json_2}}</pre>
            <p>
              <b>3) </b>At the end of the file, add a new section with the following content to add node and npm
              engines (it may be after the “devDependencies” section):
            </p>
            <pre>{{package_json_3}}</pre>
            <p>
              <b>4) </b>Finally, inside the “dependencies” section, add the “express” installation by adding the following line:
            </p>
            <pre>{{package_json_4}}</pre>
            <p>
              At the end, your file should look like this:
            </p>
            <pre>{{package_json_5}}</pre>

            <div class="divider"></div>

            <h4>Upload web app to Heroku</h4>
            <p>
              Let’s now add our changes to git and upload our app.<br>
              From the console, cd into your project root directory, and execute a <b>“git add .”</b>
              command to include all the changes (git will change your line endings, so don’t worry if
              you get replacement warnings):
            </p>
            <pre>{{cmd_git_add_log}}</pre>
            <p>
              You can verify that files were added by executing a “git status” command.
            </p>
            <pre>{{cmd_git_status_log}}</pre>
            <p>
              Let’s commit the changes (you can change your commit message):
            </p>
            <pre>{{cmd_git_commit_log}}</pre>
            <p>
              Let’s push the changes into the server, by running a “git push heroku master” command:
            </p>
            <pre>{{cmd_git_push_log}}</pre>
            <p><b>Note: The previous output has been truncated.</b></p>
            <p>
              The push process will take a while, since it is deploying our app and Heroku is building
              it to make it available online. Once the process is finished, you will see an output like:
            </p>
            <pre>{{cmd_git_push_success}}</pre>
            <p>
              If you look at the output, there is a URL to your web application. In my case, the app was
              published to <b>https://don-programmer-code.herokuapp.com/</b>.
            </p>
            <p>
              Open the URL in your web browser, and you will see your app running!
            </p>
            <img class="materialboxed" src="../../../assets/images/blog/b003/app_web.png" alt="">
            <div class="divider"></div>
            <p>
              That’s it! Now you can start making modifications to your website and uploading them to
              Heroku to have your website hosted for free. This option is fine if you are testing your
              application or you are starting a website. If your website has many activity and workload,
              then it is better to upgrade your app and pay to have more server resources. You can use
              Heroku or any other provider for that. <b>Good luck!</b>
            </p>
        </div>
        <div class="col s8 offset-s2 m6 offset-m3 blog-author">
            <div class="divider"></div>
            <div class="avatar-wrapper">
                <div class="avatar">
                <img src="../../../assets/images/python_logo_black.png" alt="">
                </div>
            </div>
            <div class="author">
                <span>Author</span>
                Juan Carlos Perez Castellanos
            </div>
            <div class="date">
                <span>2019</span>
                November 23
            </div>
            <div class="divider"></div>
        </div>
    </div>
</div>
