<div class="title-transition section white valign-wrapper">
    <div class="row valign">
        <div class="col s8 offset-s2 m6 offset-m3 blog-title fade-transition">
        <h1>Subiendo tu aplicación de Angular a Heroku</h1>
        <span class="date">23 de Noviembre, 2019</span>
        <hr>
        <a class="waves-effect waves-light btn" href="/blog-upload-website-heroku"><i class="material-icons left">library_books</i>Read in English</a>
        </div>
    </div>
</div>

<div class="section white full-height">
    <div class="row valign">
        <div class="col s10 offset-s1 m10 offset-m1 l8 offset-l2 blog-body">
            <p>
                Howdy! Aquí están los pasos para crear un proyecto en Heroku, subir tu aplicación de Angular  y tenerla
                disponible en internet gratis. Este tutorial requiere tener una aplicación de Angular previamente creada.
                Puedes ver mi otro tutorial (<a href="/blog-comenzando-con-angular" target="_">Comenzando con Angular</a>)
                para aprender a crear un proyecto con Angular.
            </p>
            <div class="divider"></div>
            <h4>Creando un proyecto en Heroku</h4>
            <p>
                Primero, necesitas crear una cuenta en Heroku (es gratis). Ve al sitio
                <a href="https://signup.heroku.com/" target="_">Heroku Registro</a>
                y crea una cuenta gratis. Después de crear la cuenta, inicia sesión. El sitio web
                debe mostrarse así:
            </p>
            <img class="materialboxed" src="../../../assets/images/blog/b003/heroku_login.png" alt="">
            <p>
                Da clic en el botón de “Create new app” para configurar tu nuevo proyecto.
                Elige un nombre para la aplicación (Yo estoy poniendo como nombre 
                “don-programmer-code”, y eligiendo “United States” como región):
            </p>
            <img class="materialboxed" src="../../../assets/images/blog/b003/heroku_new_app.png" alt="">
            <p>
                Da clic en “Create app”, y serás redirigido al dashboard de la aplicación:
            </p>
            <img class="materialboxed" src="../../../assets/images/blog/b003/heroku_dashboard_new.png" alt="">
            <div class="divider"></div>
            <h4>Requerimientos</h4>
            <p>
                Ahora, vamos a utilizar “Heroku Git” como método para subir nuestra aplicación (es el método habilitado
                por defecto). Puedes seguir los pasos indicatos ahí para subir tu aplicación. Básicamente, necesitamos
                instalar Git, la línea de comandos de Heroku (Heroku CLI), y después enlazar nuestra aplicación
                al proyecto que acabamos de crear.
            </p>
            <h4>Instalando Git</h4>
            <p>
                Git es un sistema de control de versiones que vamos a utilizar más adelante para subir nuestro código
                a internet. Puedes descargar el instalador desde
                <a href="https://git-scm.com/download/" target="_">este enlace</a>.<br> Una vez descargado, ejecuta el
                instalador y sigue los pasos de instalación seleccionado las opciones por defecto.
            </p>
            <h4>Instalando Heroku CLI</h4>
            <p>
                Para descargar Heroku CLI de acuerdo a tu sistema, descárgalo de la siguiente página
                <a href="https://devcenter.heroku.com/articles/heroku-command-line" target="_">Heroku CLI</a>.
                Selecciona tu sistema operativo y ejecuta el instalador. 
                <br>
                Puedes verificar la instalación ejecutando el siguiente comando desde una terminal:
            </p>
            <pre>{{cmd_heroku_version}}</pre>
            <p>
                Ahora que tenemos instalados git y Heroku CLI, vamos a iniciar sesión en Heroku ejecutando
                un “heroku login” en la terminal:
            </p>
            <pre>{{cmd_heroku_login}}</pre>
            <p>
                Sigue los pasos indicados. Debes presionar cualquier tecla para abrir el navegador e iniciar sesión.
                Después de iniciar sesión exitosamente en el navegador, el inicio de sesión se completará en la terminal
                de forma automática.
            </p>
            <img class="materialboxed" src="../../../assets/images/blog/b003/heroku_web_login.png" alt="">
            <p>
                Continuemos ahora agregando nuestra app a Heroku.
            </p>
            <div class="divider"></div>
            <h4>Agregando nuestra aplicación de Angular a Heroku</h4>
            <p>
                Regresa al dashboard de Heroku en tu navegador, abre tu app, y da clic en el tab “Deploy”.
            </p>
            <p>
                Si ya tienes un repositorio de Git existente, ve al final de la página, y busca la sección
                “Existing Git repository”. Debes seguir los comandos indicados. Verás algo similar a esto:
            </p>
            <img class="materialboxed" src="../../../assets/images/blog/b003/git_existing.png" alt="">
            <p>
                Si no tienes un repositorio de Git, no te preocupes. Puedes subir tu repositorio a Heroku.
                En el misma tab de “Deploy”, busca la sección de “Create a new Git repository”:
            </p>
            <img class="materialboxed" src="../../../assets/images/blog/b003/git_new.png" alt="">
            <p>
                Ahora, abre tu terminal, entra al directorio de tu aplicación de Angular (en mi caso, el directorio
                se llama “first-app”), y configura tu repositorio de git ejecutando los comandos correspondientes.
                En mi caso, estoy subiendo mi código a Heroku, así que seguiré los pasos para crear un nuevo repositorio de Git:
            </p>
            <pre>{{cmd_heroku_git_setup}}</pre>
            <p>
                ¡Genial! Ahora tenemos enlazado nuestro repositorio a nuestra aplicación de Heroku.
            </p>

            <div class="divider"></div>

            <h4>Preparando nuestra aplicación de Angular</h4>
            <p>
                Ahora que tenemos nuestro repositorio enlazado, podemos subir nuestra aplicación a Heroku, pero aún necesitamos
                un par de cambios más para que nuestra aplicación pueda ejecutarse en los servidores de Heroku.
                Si subimos el código tal como está, probablemente fallará al tratar de ejecutar.
                Primero, vamos a agregar un nuevo archivo llamado server.js en el directorio raíz de nuestro proyecto de Angular:
            </p>
            <img class="materialboxed" src="../../../assets/images/blog/b003/file_server_add.png" alt="">
            <p>
                Agrega el siguiente código al archivo server.js. Reemplaza las dos ocurrencias de <b>first-app</b>
                en el archivo con el nombre correspondiente de tu proyecto:
            </p>
            <pre>{{server_js_file}}</pre>
            <p>
                Ahora, abre el archivo package.json (se encuentra en el directorio raíz del proyecto), y haz los siguientes cambios:
            </p>
            <p>
                <b>1) </b>Dentro de la sección de "scripts", cambia el valor de "start" de “ng serve”, por este: "node server.js":                
            </p>
            <pre>{{package_json_1}}</pre>
            <p>
                <b>2) </b>Dentro de la sección de "scripts", agrega una coma al final de la línea de “e2e”,
                y agrega un paso de "postinstall" con el siguiente valor:<br>
                "postinstall": "ng build --aot --prod"              
            </p>
            <pre>{{package_json_2}}</pre>
            <p>
                <b>3) </b>Al final del archivo, agrega una sección nueva con el siguiente contenido, que permitirá agregar los engines
                de node y npm necesarios para correr en Heroku (puedes agregarlo después de la sección de “devDependencies”:
            </p>
            <pre>{{package_json_3}}</pre>
            <p>
                <b>4) </b>Finalmente, dentro de la sección de “dependencies”, agrega la instalación de “express”, agregando
                la siguiente línea:
            </p>
            <pre>{{package_json_4}}</pre>
            <p>
                Al final de los cambios, tu archivo debería verse similar a este:
            </p>
            <pre>{{package_json_5}}</pre>

            <div class="divider"></div>

            <h4>Subiendo la aplicación web a Heroku</h4>
            <p>
                Vamos ahora a agregar todos nuestros cambios a git y subir nuestra app.
                <br>
                Desde la consola, desde el directorio raíz del proyecto, ejecuta un <b>“git add .”</b>
                para incluir todos los cambios (git probablemente va a cambiar los finales de línea de tus
                archivos, así que no te preocupes si ves warnings sobre replacement):
            </p>
            <pre>{{cmd_git_add_log}}</pre>
            <p>
                Puedes verificar que los archivos hayan sido agregados ejecutando el comando “git status”.
            </p>
            <pre>{{cmd_git_status_log}}</pre>
            <p>
                Vamos a subir los cambios a git (puedes cambiar el mensaje del commit si lo deseas):
            </p>
            <pre>{{cmd_git_commit_log}}</pre>
            <p>
                Vamos a subir los cambios al servidor de Heroku, ejecutando el comando “git push heroku master”:
            </p>
            <pre>{{cmd_git_push_log}}</pre>
            <p><b>Nota: El output del ejemplo anterior ha sido recortado.</b></p>
            <p>
                El proceso del comando <b>git push</b> puede tomar algunos minutos, puesto que nuestra app
                completa está siendo subida y nuestro sitio web está siendo compilado para estar disponible en línea.
                Una vez que el proceso termine, verás un mensaje como este: 
            </p>
            <pre>{{cmd_git_push_success}}</pre>
            <p>
                Si observas el output, hay una URL que indica dónde está tu aplicación. En mi caso, la applicación
                fue publicada en <b>https://don-programmer-code.herokuapp.com/</b>.
            </p>
            <p>
                Abre el URL desde tu navegador web, ¡y podrás ver tu aplicación web!
            </p>
            <img class="materialboxed" src="../../../assets/images/blog/b003/app_web.png" alt="">
            <div class="divider"></div>
            <p>
                ¡Eso ha sido todo! Ahora puedes comenzar a hacer modificaciones a tu sitio web y subir
                los cambios a Heroku para tener tu sitio web gratis. Esta opción gratuita es perfecta si
                estás probando tu aplicación o vas comenzando con tu sitio web. Si tu sitio web llega a
                crecer o a tener mucha interacción de usuarios, lo mejor será que pagues por un hosting
                con más recursos, ya sea en Heroku o en otro servicio. <b>¡Buena suerte!</b>
            </p>
        </div>
        <div class="col s8 offset-s2 m6 offset-m3 blog-author">
            <div class="divider"></div>
            <div class="avatar-wrapper">
                <div class="avatar">
                <img src="../../../assets/images/python_logo_black.png" alt="">
                </div>
            </div>
            <div class="author">
                <span>Autor</span>
                Juan Carlos Perez Castellanos
            </div>
            <div class="date">
                <span>2019</span>
                November 23
            </div>
            <div class="divider"></div>
        </div>
    </div>
</div>
