<div class="section light valign-wrapper">
  <div class="container">
    <form>
      <div class="row">
        <div class="col s12"><h2 class="section-title">Contact Me</h2></div>
        <div class="input-field col s6">
          <input id="first_name" type="text">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text">
          <label for="last_name">Last Name</label>
        </div>
        <div class="input-field col s12">
          <textarea id="message" class="materialize-textarea"></textarea>
          <label for="message">Message</label>
          <a class="waves-effect waves-light btn-large">Send</a>
        </div>
      </div>
    </form>
  </div>
</div>
