<div class="title-transition section white valign-wrapper">
  <div class="row valign">
    <div class="col s8 offset-s2 m6 offset-m3 blog-title fade-transition">
      <h1>Comenzando con Angular</h1>
      <span class="date">17 de Noviembre, 2019</span>
      <hr>
      <a class="waves-effect waves-light btn" href="/blog-starting-with-angular"><i class="material-icons left">library_books</i>Read in English</a>
    </div>
  </div>
</div>

<div class="section white full-height">
  <div class="row valign">
    <div class="col s10 offset-s1 m10 offset-m1 l8 offset-l2 blog-body">

      <p>
        Howdy! Angular es un framework (desarrollado por Google) para desarrollo web muy poderoso
        y popular hoy en día. Este tutorial es una guía para instalar las herramientas necesarias
        para crear un projecto con Angular (<a href="https://angular.io/" target="_">https://angular.io/</a>).
      </p>

      <div class="divider"></div>

      <h4>Descargar e instalar NodeJS</h4>

      <p>
        NodeJS es un entorno de ejecución para JavaScript, requerido por Angular. Puedes descargar NodeJS 
        de su página oficial haciendo clic en el siguiente enlace:<br>
        <a href="https://nodejs.org/es/download/" target="_">https://nodejs.org/es/download/</a>
      </p>

      <img class="materialboxed" src="../../../assets/images/blog/b002/npm_descarga.png" alt="">

      <p>
        Yo recomiendo seleccionar la versión default LTS. Puedes descargarla haciendo clic en la página web
        en el botón de “Windows Installer”. <br>
        Una vez descargado el archivo, ejecútalo para instalar NodeJS siguiendo las opciones por default.
      </p>      

      <div class="divider"></div>

      <h4>Instalando Angular</h4>

      <p>
        Para instalar Angular, vamos a abrir una terminal (cmd en Windows), y ejecutaremos el siguiente comando:
      </p>
      <pre>  npm install -g @angular/cli</pre>
      <p>
        Una vez que se termine de instalar Angular, podemos empezar a crear nuestro nuevo proyecto en Angular.
        Para verificar que Angular se instaló correctamente, podemos verificar la versión instalada con el siguiente comando:
      </p>
      
      <pre>
  C:\Users\don>ng --version

      _                      _                 ____ _     ___
      / \   _ __   __ _ _   _| | __ _ _ __     / ___| |   |_ _|
    / △ \ | '_ \ / _` | | | | |/ _` | '__|   | |   | |    | |
    / ___ \| | | | (_| | |_| | | (_| | |      | |___| |___ | |
  /_/   \_\_| |_|\__, |\__,_|_|\__,_|_|       \____|_____|___|
                  |___/
  
  
  Angular CLI: 7.3.7
  Node: 10.15.3
  OS: win32 x64
  Angular:
  ...
  
  Package                      Version
  ------------------------------------------------------
  @angular-devkit/architect    0.13.7
  @angular-devkit/core         7.3.7
  @angular-devkit/schematics   7.3.7
  @schematics/angular          7.3.7
  @schematics/update           0.13.7
  rxjs                         6.3.3
  typescript                   3.2.4
      </pre>

      <div class="divider"></div>

      <h4>Creando una aplicación en Angular</h4>

      <p>
      Desde una terminal, ejecuta el siguiente comando para crear la app
      (puedes usar cualquier nombre, yo estoy usando first-app como nombre):
      </p>

      <pre>  ng new first-app</pre>

      <p>
      Al ejecutar el comando, responde “y” y presiona Enter a la primer pregunta
      (para agregar Angular routing), y presiona Enter para la segunda pregunta
      (vamos a utilizar CSS como default). Después de esto, Angular instalará las
      dependencias necesarias y creará el proyecto.
      </p>
      
      <pre>
  C:\Users\don\Documents\don>ng new first-app
  ? Would you like to add Angular routing? Yes
  ? Which stylesheet format would you like to use? CSS
      </pre>
      
      <p>
      Listo! Ahora tenemos nuestra aplicación creada. Angular ha creado un directorio llamado
      con el nombre de tu app (first-app en mi caso). Abre el archivo situado en el directorio
      first-app/src/app/app.component.ts y cambia el valor de “title”, por ejemplo:
      </p>
      
      <pre>{{ texto_code }}</pre>
      
      <p>
        Guarda los cambios en el archivo. Ahora, vamos a ejecutar nuestra aplicación. 
      </p>

      <div class="divider"></div>

      <h4>Ejecutando nuestra aplicación de Angular</h4>
      
      <p>
      Desde la consola de comandos, entra al directorio raíz del proyecto, y ejecuta 
      el siguiente comando. El parámetro --open va a abrir nuestro navegador automáticamente
      para abrir nuestro sitio web:
      </p>

      <pre>  ng serve --open</pre>

      <p>Ejemplo:</p>

      <pre>{{ texto_code_2 }}</pre>

      <p>Una vez abierto el navegador, nuestro sitio web debe mirarse así:</p>

      <img class="materialboxed" src="../../../assets/images/blog/b002/angular_running.png" alt="">

      <h4>Siguientes pasos</h4>
      
      <p>
        Ahora que tienes tu app lista, puedes comenzar a leer la documentación de Angular
        para construir un sitio web real. El siguiente paso es subir tu sitio web a internet,
        puedes seguir <a href="/blog-subir-website-heroku">este tutorial</a> para subir tu sitio a Heroku (una plataforma que ofrece
        hosting gratuito, de modo que puedes probar tu sitio web ahí).
      </p>

    </div>
    <div class="col s8 offset-s2 m6 offset-m3 blog-author">
      <div class="divider"></div>

      <div class="avatar-wrapper">
        <div class="avatar">
          <img src="../../../assets/images/python_logo_black.png" alt="">
        </div>
      </div>

      <div class="author">
        <span>Autor</span>
        Juan Carlos Perez Castellanos
      </div>

      <div class="date">
        <span>2019</span>
        Noviembre 17
      </div>

      <div class="divider"></div>
    </div>
  </div>
</div>
