<div class="title-transition section white valign-wrapper">
  <div class="row valign">
    <div class="col s8 offset-s2 m6 offset-m3 blog-title fade-transition">
      <h1>Starting with Angular</h1>
      <span class="date">November 17th, 2019</span>
      <hr>
      <a class="waves-effect waves-light btn" href="/blog-comenzando-con-angular"><i class="material-icons left">library_books</i>Ver en Español</a>
    </div>
  </div>
</div>

<div class="section white full-height">
  <div class="row valign">
    <div class="col s10 offset-s1 m10 offset-m1 l8 offset-l2 blog-body">

      <p>
          Howdy! Angular is one of the most powerful and popular web development frameworks
          (created by Google). This tutorial will guide you on installing the necessary
          components and tools to create a project in Angular
          (<a href="https://angular.io/" target="_">https://angular.io/</a>).
      </p>

      <div class="divider"></div>

      <h4>Installing NodeJS</h4>

      <p>
          NodeJS is an execution environment for JavaScript, required by Angular.
          You can download NodeJS from its official website or by clicking on the link below:<br>
        <a href="https://nodejs.org/en/download/" target="_">https://nodejs.org/en/download/</a>
      </p>

      <img class="materialboxed" src="../../../assets/images/blog/b002/npm_download.png" alt="">

      <p>
          I recommend selecting the default option (LTS). You can download it by clicking on the
          "Windows Installer" button in the webpage.<br>
          Once downloaded, execute the installer following the default installation.
      </p>      

      <div class="divider"></div>

      <h4>Installing Angular</h4>

      <p>
        To install Angular, let´s open a terminal (cmd on Windows) and execute this command:
      </p>
      <pre>  npm install -g @angular/cli</pre>
      <p>
          Once the install is completed, we can start creating our new Angular project.
          To verify that Angular was installed correctly, we can verify the installation
          by getting the Angular version using the following command:
      </p>
      
      <pre>
  C:\Users\don>ng --version

      _                      _                 ____ _     ___
      / \   _ __   __ _ _   _| | __ _ _ __     / ___| |   |_ _|
    / △ \ | '_ \ / _` | | | | |/ _` | '__|   | |   | |    | |
    / ___ \| | | | (_| | |_| | | (_| | |      | |___| |___ | |
  /_/   \_\_| |_|\__, |\__,_|_|\__,_|_|       \____|_____|___|
                  |___/
  
  
  Angular CLI: 7.3.7
  Node: 10.15.3
  OS: win32 x64
  Angular:
  ...
  
  Package                      Version
  ------------------------------------------------------
  @angular-devkit/architect    0.13.7
  @angular-devkit/core         7.3.7
  @angular-devkit/schematics   7.3.7
  @schematics/angular          7.3.7
  @schematics/update           0.13.7
  rxjs                         6.3.3
  typescript                   3.2.4
      </pre>

      <div class="divider"></div>

      <h4>Creating new Angular app</h4>

      <p>
          From a terminal, run the following command to create an app (you can
          use whatever name you want, I chose first-app as name):
      </p>

      <pre>  ng new first-app</pre>

      <p>
          When running the command, you will get two prompts. Press “Y” for the first one
          (it will add Angular routing support to your app), and then press Enter. Then,
          for the second prompt, press “Enter” to use the default stylesheet (CSS). After this,
          Angular will install all the necessary dependencies and will create the project.
      </p>
      
      <pre>
  C:\Users\don\Documents\don>ng new first-app
  ? Would you like to add Angular routing? Yes
  ? Which stylesheet format would you like to use? CSS
      </pre>
      
      <p>
          Great! Now we have our app created. Angular has created a directory called as the
          app name you chose (first-app in my case). Open the file located at first-app/src/app/app.component.ts
          and edit the value of “title”, like: 
      </p>
      
      <pre>{{ texto_code }}</pre>
      
      <p>
          Save the changes. Now, let’s run our app. 
      </p>

      <div class="divider"></div>

      <h4>Running our Angular app</h4>
      
      <p>
          From the console, get into the project directory, and run the following command.
          The parameter --open will open our web browser automatically to show our website:
      </p>

      <pre>  ng serve --open</pre>

      <p>Example:</p>

      <pre>{{ texto_code_2 }}</pre>

      <p>Once the web browser has been opened, our website should look like this:</p>

      <img class="materialboxed" src="../../../assets/images/blog/b002/angular_running.png" alt="">

      <h4>Next steps</h4>
      
      <p>
        Now that you have your app up and ready, you can start checking the Angular documentation
        to build a real website. The next step is to upload our website to the internet,
        you can follow <a href="/blog-upload-website-heroku">this tutorial</a> to upload your
        website to Heroku (it offers free hosting for testing your website).
      </p>

    </div>
    <div class="col s8 offset-s2 m6 offset-m3 blog-author">
      <div class="divider"></div>

      <div class="avatar-wrapper">
        <div class="avatar">
          <img src="../../../assets/images/python_logo_black.png" alt="">
        </div>
      </div>

      <div class="author">
        <span>Author</span>
        Juan Carlos Perez Castellanos
      </div>

      <div class="date">
        <span>2019</span>
        November 17th
      </div>

      <div class="divider"></div>
    </div>
  </div>
</div>
