<div class="title-transition section white valign-wrapper">
  <div class="row valign">
    <div class="col s8 offset-s2 m6 offset-m3 blog-title fade-transition">
      <h1>My Code Website</h1>
      <span class="date">January 30th, 2020</span>
    </div>
  </div>
</div>

<div class="section white full-height">
  <div class="row valign">
    <div class="col s8 offset-s2 m6 offset-m3 blog-body">

      <h4>My first blog in 2020</h4>

      <p>
          Howdy!
      </p>

      <p>
          On my free time, I like to write code or learn about a new programming language. As my first blog of 2020,
          I decided to share my code website here.
          On this website, I like to publish my Python code (I am still adding my code, so the
          site is still under development). You can take a look or use the code if you want.
      </p>

      <div class="divider"></div>

      <h4>Site URL</h4>

      <p>
          Here is the URL of the website
          <a href="http://code.doncharlie.xyz/" target="_">code.doncharlie.xyz</a>.
      </p>
      <p>
          Enjoy!
      </p>

    </div>

    <div class="col s8 offset-s2 m6 offset-m3 blog-author">
      <div class="divider"></div>

      <div class="avatar-wrapper">
        <div class="avatar">
          <img src="../../../assets/images/python_logo_black.png" alt="">
        </div>
      </div>

      <div class="author">
        <span>Author</span>
        Juan Carlos Perez Castellanos
      </div>

      <div class="date">
        <span>2020</span>
        January 30th
      </div>

      <div class="divider"></div>
    </div>
  </div>
</div>
