<div class="title-transition section white valign-wrapper">
  <div class="row valign">
    <div class="col s8 offset-s2 m6 offset-m3 blog-title fade-transition">
      <h1>Who am I?</h1>
      <span class="date">July 1st, 2019</span>
    </div>
  </div>
</div>

<div class="section white full-height">
  <div class="row valign">
    <div class="col s8 offset-s2 m6 offset-m3 blog-body">

      <img class="materialboxed" src="../../../assets/images/programming_skills.png" alt="">
      <h4>Engineer, Software Developer, Entrepreneur and Person</h4>

      <p>
          When I try to answer who am I, I can think of many things that define myself. 
          There are multiple areas on which I can answer who am I, but when I have to 
          give a concrete answer, it is hard respond quickly. I consider myself as a 
          Software Developer, a coffee lover, and a person who is interested in 
          creating new things, and last but not least, a person.
      </p>

      <p>
          Maybe I can answer this question by writing about my personal life, 
          my university experience and my professional career. 
      </p>

      <div class="divider"></div>

      <h4>My childhood</h4>

      <p>
          I come from a small town in Jalisco, Mexico, called 
          <a href="https://www.google.com/maps/place/San+Ignacio+Cerro+Gordo,+Jal.,+México" target="_">San Ignacio Cerro Gordo</a>. I 
          lived there for many years, where my family lives. I love to visit my town, 
          because it is a peaceful place.
      </p>
      <p>
          Since I was a child, I had interest on creating new things. One of my favorites cartoons when I was a child 
          was Dexter’s Laboratory, cartoon that feeded my desire to be an engineer. 
      </p>

      <div class="divider"></div>

      <h4>My university experience</h4>
      <p>
          When I finished the high school, I decided to pursue a Bachelor’s Degree in 
          Electronic Technologies Engineering, at the Tec de Monterrey (ITESM) University. 
          The university was amazing, and I found there some friends to which I keep 
          contact until today.
      </p>
      <p>
          Getting my University Degree was hard, there were periods of hard work and study. When I was in 6th 
          semester, I started working at Intel as intern. That first job gave me a lot of 
          experience, and I learned how the big corporations work. Before getting graduated, 
          I received a full time offer at Intel.
      </p>
      <p>Finally, I was graduated from the 
          University on May, 2016.
      </p>

      <div class="divider"></div>

      <h4>My professional experience</h4>
      <p>
          I worked on as System Validation Engineer at Intel for almost 3 years. After some time, 
          I accepted an offer at Oracle (Guadalajara, Mexico), because I was more interested 
          in working with software. I started working as a Software Developer in the Database 
          Test Development team. I had the opportunity of learning some good coding practices, 
          regular expressions, Linux, and security testing. 
      </p>
      <p>
          After almost 2 years working at 
          Oracle, I accepted an offer from Cirrus Logic (Austin, Texas) as SDET, where I 
          learned a better use of the OOP in Python and to use Design Patterns. After one 
          year at Cirrus Logic, I accepted a full time offer in Ericsson (Austin, Texas) 
          as Python Developer.
      </p>

      <div class="divider"></div>

      <h4>Side projects</h4>
      <p>
          Outside of work, I like to invest my personal time in learning new things. I learned 
          web development by my own, and I have worked for startups in Mexico making front-end 
          development. 
      </p>
      <p>
          I did web development for a couple of startups, learning
          to code in HTML, CSS, Angular, NPM, JavaScript, among other stuff. 
      </p>

      <div class="divider"></div>

      <h4>Personal life</h4>
      <p>
          I am happily married since 2017, I am very happy with my wife and my pet, Locky. 
          Locky is a chihuahua dog that me and my wife adopted. We love to come to Mexico 
          to visit our family and friends, and to eat tacos. We love tacos!
      </p>
    </div>

    <div class="col s8 offset-s2 m6 offset-m3 blog-author">
      <div class="divider"></div>

      <div class="avatar-wrapper">
        <div class="avatar">
          <img src="../../../assets/images/python_logo_black.png" alt="">
        </div>
      </div>

      <div class="author">
        <span>Author</span>
        Juan Carlos Perez Castellanos
      </div>

      <div class="date">
        <span>2019</span>
        July 1st
      </div>

      <div class="divider"></div>
    </div>
  </div>
</div>
