<div class="title-transition section white valign-wrapper">
    <div class="row valign">
        <div class="col s8 offset-s2 m6 offset-m3 blog-title fade-transition">
        <h1>Blog Title</h1>
        <span class="date">November 17th, 2019</span>
        <hr>
        <a class="waves-effect waves-light btn" href="/url-language-version"><i class="material-icons left">library_books</i>Ver en Español</a>
        </div>
    </div>
</div>

<div class="section white full-height">
    <div class="row valign">
        <div class="col s10 offset-s1 m10 offset-m1 l8 offset-l2 blog-body">
            <p>
                Howdy!
            </p>
            <div class="divider"></div>
            <h4>Section title</h4>
            <p>
                Some notes. And here is an image!
            </p>
            <img class="materialboxed" src="../../../assets/images/blog/b002/npm_download.png" alt="">
            <p>
                Some more notes.
            </p>
            <div class="divider"></div>
            <h4>Another section title</h4>
            <p>
                Here is a code block (Use pre style from the css file):
            </p>
            <pre>  npm install -g @angular/cli</pre>
        </div>
        <div class="col s8 offset-s2 m6 offset-m3 blog-author">
            <div class="divider"></div>
            <div class="avatar-wrapper">
                <div class="avatar">
                <img src="../../../assets/images/python_logo_black.png" alt="">
                </div>
            </div>
            <div class="author">
                <span>Author</span>
                Juan Carlos Perez Castellanos
            </div>
            <div class="date">
                <span>2019</span>
                November 17th
            </div>
            <div class="divider"></div>
        </div>
    </div>
</div>
