.btn, .btn i {
    color: #005a7e;
}

pre {
    background: rgb(49, 49, 49);
    border: 1px solid rgb(150, 150, 150);
    border-left: 3px solid #535353;
    color: #f4f4f4;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}