<div class="header full-height horizontal-half-transition">
  <div class="background hide-on-med-and-down">
    <img src="../../assets/images/programming_skills.png" alt="">
  </div>
  <div class="phone-preview-sizer">
    <div class="phone-preview"></div>
    <div class="image-container active" style="background-image:url(../../assets/images/about_530x990.png)"></div>
    <div class="image-container" style="background-image:url(../../assets/images/about_2_530x990.png)"></div>
    <div class="image-container" style="background-image:url(../../assets/images/about_3_530x990.png)"></div>
  </div>
  <div class="horizontal-half-wrapper right-side active">
    <div class="header-background white"></div>
    <div class="header-wrapper row valign-wrapper">
      <div class="col s12 m8 offset-m2 valign">
        <h1>Hi!</h1>
        <span class="tagline">Welcome to Don Charlie's website!</span>
        <button class="read-more"><i class="icon-caret-down"></i></button>
      </div>
    </div>
  </div>
  <div class="horizontal-half-wrapper">
    <div class="header-background white"></div>
    <div class="header-wrapper row valign-wrapper">
      <div class="col s12 m8 offset-m2 valign">
        <h1>Engineer</h1>
        <span class="tagline">Electronic Technologies Engineer</span>
        <button class="read-more"><i class="icon-caret-down"></i></button>
      </div>
    </div>
  </div>
  <div class="horizontal-half-wrapper right-side">
    <div class="header-background white"></div>
    <div class="header-wrapper row valign-wrapper">
      <div class="col s12 m8 offset-m2 valign">
        <h1>Developer</h1>
        <span class="tagline">Software Developer and Tester</span>
        <button class="read-more"><i class="icon-caret-down"></i></button>
      </div>
    </div>
  </div>
</div>

<div class="section valign-wrapper">
  <div class="row valign">
    <div class="col s12 m10 offset-m1">
      <div class="row">
        <div class="col s12">
          <h2 class="section-title">About me</h2>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m4 l4">
          <h4><i class="icon-internet"></i></h4>
          <p class="caption">Currently working as Senior Software Developer at Oracle, Guadalajara, Mexico</p>
        </div>
        <div class="col s12 m4 l4">
          <h4><i class="icon-compass"></i></h4>
          <p class="caption">June 2019 - August 2020 : Software Developer at Ericsson, Austin, TX</p>
        </div>
        <div class="col s12 m4 l4">
          <h4><i class="icon-camera"></i></h4>
          <p class="caption">May 2018 - June 2019 : Software Developer in Test Senior at Cirrus Logic, Austin, TX</p>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m4 l4">
          <h4><i class="icon-upload"></i></h4>
          <p class="caption">November 2016 - May 2018 : Software Developer at Oracle, Guadalajara, Mexico</p>
        </div>
        <div class="col s12 m4 l4">
          <h4><i class="icon-gear"></i></h4>
          <p class="caption">April 2014 - November 2016 : System Validation Engineer at Intel, Guadalajara, Mexico</p>
        </div>
        <div class="col s12 m4 l4">
          <h4><i class="icon-line-graph"></i></h4>
          <p class="caption">Web developer at Monisi http://monisi.mx and jops http://jops.herokuapp.com</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Pricing Tables -->
<div class="section valign-wrapper">
  <div class="row valign">
    <div class="col s12 m10 offset-m1">
      <div class="row">
        <div class="col s12 m4">
          <div class="transform-wrapper">
            <div class="pricing-table scale-in-out fade-in-out center-transform-origin">
              <div class="pricing-header">
                <i class="icon-paper-plane"></i>
                <h4>My</h4>
                <div class="price">
                  <span class="dollars">interests</span>
                </div>
              </div>
              <ul class="pricing-features">
                <li class="pricing-feature"><i class="icon-accept"></i>Python</li>
                <li class="pricing-feature"><i class="icon-accept"></i>Containers</li>
                <li class="pricing-feature"><i class="icon-accept"></i>Automation</li>
                <li class="pricing-feature"><i class="icon-accept"></i>Machine Learning</li>
                <li class="pricing-feature"><i class="icon-accept"></i>Web Development</li>
                <li class="pricing-feature"><i class="icon-accept"></i>DevOps</li>
                <li class="pricing-feature"><i class="icon-accept"></i>Space</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="transform-wrapper">
            <div class="pricing-table scale-in-out fade-in-out center-transform-origin">
              <div class="pricing-header">
                <i class="icon-paper-plane"></i>
                <h4>My skills</h4>
                <div class="price">
                  <span class="dollars">7</span>
                  <span style="margin-left: 5px" class="cents">+</span>
                  <span class="dollars"> years</span>
                </div>
              </div>
              <ul class="pricing-features">
                <li class="pricing-feature"><i class="icon-accept"></i>Python</li>
                <li class="pricing-feature"><i class="icon-accept"></i>Linux</li>
                <li class="pricing-feature"><i class="icon-accept"></i>Jenkins</li>
                <li class="pricing-feature"><i class="icon-accept"></i>Angular</li>
                <li class="pricing-feature"><i class="icon-accept"></i>HTML, CSS</li>
                <li class="pricing-feature"><i class="icon-accept"></i>Containers</li>
                <li class="pricing-feature"><i class="icon-accept"></i>Testing</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="transform-wrapper">
            <div class="pricing-table scale-in-out fade-in-out center-transform-origin">
              <div class="pricing-header">
                <i class="icon-paper-plane"></i>
                <h4>Currently</h4>
                <div class="price">
                  <span class="dollars">learning</span>
                </div>
              </div>
              <ul class="pricing-features">
                <li class="pricing-feature"><i class="icon-accept"></i>More Python</li>
                <li class="pricing-feature"><i class="icon-accept"></i>More Linux</li>
                <li class="pricing-feature"><i class="icon-accept"></i>DevOps</li>
                <li class="pricing-feature"><i class="icon-accept"></i>LXD</li>
                <li class="pricing-feature"><i class="icon-accept"></i>Docker</li>
                <li class="pricing-feature"><i class="icon-accept"></i>Web Development</li>
                <li class="pricing-feature"><i class="icon-accept"></i>Design Patterns</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section light full-height">
  <div class="row">
    <div class="col s12 m10 offset-m1 center">
      <h1>My blog</h1>
      <div class="row masonry-grid">
        <div class="col s12 m6 l4">
          <div class="card fade-in-out up-in-out" data-duration="0">
            <div class="card-image">
              <a href="/blog-who-am-i"><img src="../../assets/images/blog/blog_001.png"></a>
              <span class="card-title">Who am I?</span>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card fade-in-out up-in-out" data-duration="0">
            <div class="card-image">
              <a href="/blog-starting-with-angular"><img src="../../assets/images/blog/blog_002.png"></a>
              <span class="card-title">Starting with Angular</span>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card fade-in-out up-in-out" data-duration="0">
            <div class="card-image">
              <a href="/blog-upload-website-heroku"><img src="../../assets/images/blog/blog_003.png"></a>
              <span class="card-title">Deploying Angular app to Heroku</span>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card fade-in-out up-in-out" data-duration="0">
            <div class="card-image">
              <a href="/blog-my-code-website"><img src="../../assets/images/blog/blog_004.png"></a>
              <span class="card-title">My Code Website</span>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card fade-in-out up-in-out" data-duration="0">
            <div class="card-image">
              <a href="/blog-not-found"><img src="../../assets/images/blog/blog_006.png"></a>
              <span class="card-title">Python Coverage</span>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card fade-in-out up-in-out" data-duration="0">
            <div class="card-image">
              <a href="/blog-not-found"><img src="../../assets/images/blog/blog_006.png"></a>
              <span class="card-title">Python tips and tricks</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

