.background {
    width: 100%;
    height: auto;
}

.header .header-wrapper h1 {
    font-size: 4.2rem;
}

.card .card-image .card-title {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
    padding-bottom: 10px;
    padding-left: 5px;
}

@media only screen and (min-width: 1100px) {
    .card-title {
        font-size: 24px;
    }
}

@media only screen and (min-width: 700px) and (max-width: 1100px) {
    .card-title {
        font-size: 20px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 700px) {
    .card-title {
        font-size: 18px;
    }
}

@media only screen and (max-width: 600px) {
    .card-title {
        font-size: 24px;
    }
}